/*CSS DOCUMENT*/

body {
	font-family: sans-serif;
	line-height: 1.4em;
	color: #222;
	background-color: #fafafa;
	box-sizing: border-box;
	}

img {
	width: 100%;
	}

header {
	flex: 1 0 100%;
}	

h2 {
	margin-top: 2em;
}

h3 {
	margin: 0em;
}

article {
	flex: 2 0 30em;
	margin-right: 1.5em;
	flex-wrap: wrap;
}

aside {
	flex: 1 0 15em;
	flex-direction: column;
}

footer {
	flex: 1 0 100%;
	margin-top: 3em;
	border-top: 0.1em solid rgb(169,168,170)
}

div.container {
	display: flex;
	flex-wrap: wrap;
	max-width: 60em;
	margin: auto;
	gap: 0em 1em;
}

section {
	background-color: rgb(234,234,234);
	padding: 1em;
	margin-bottom: 1em;
}

section p {
	margin: 0em;
	margin-bottom: 0.5em;
}

figure {
	margin: 0 0 1em 0;
}

ol {
	padding: 0em;
}

a {
	text-decoration: none;
	color: rgb(70,70,70)
}

p {
	margin-top: 1em;
	margin-left: 0em;
}

@media screen and (min-width: 40em) {
	div.container {
		padding: 0em 2em;
	}
}

